/*首页整体布局 begin*/
.divGame {
	position:absolute;
	background:;
	width:1000px;
	height:100%;
	margin:auto;
	left:0;
	right:0;
}
/*首页整体布局 end*/

/*首页标题栏 begin*/
.top {
	width:100%;
	height:110px;
	background:;
	margin:auto;
	font-size:25px;
	clear:both;
	border-width:1px;
	border-style:solid;
}
/*游戏LOGO begin*/
.divTitle {
	position: absolute;
	width: 450px;
	height: 110px;
	background: ;	
}
/*游戏LOGO end*/

/*游戏登陆 begin*/
.divLogin {
	position: absolute;
	width: 551px;
	height: 50px;
	background: ;
	top: 61px;
	left: 450px;
}

.inputDiv {
	position: absolute;
	margin: auto;
	top: 10px;
}

.logIn {	
	width: 130px;
	height: 25px;
}

.formId {
	width: 100px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
}
/*游戏登陆 end*/

/*当前时间 begin*/
.divTime {
	position: absolute;
	width: 701px;
	height: 50px;
	background: ;
	left: 300px;
	font-size: 15px;
	text-align: right;
}
/*当前时间 end*/

/*首页标题栏 end*/

/*首页游戏主体布局 begin*/
.main {
	width:100%;
	height:auto;
	background:;
	margin:auto;
	border-width:1px;
	border-style:solid;
}
/*首页游戏主体布局 end*/

/*游戏1-戳气球 begin*/
.game1 {
	width:333px;
	height:333px;
	position:absolute;
	background: ;
	left:0;
	top:111px;
	border-width:1px;
	border-style:solid;
}

/*戳气球小游戏首页图 begin*/
.boom {

	position: absolute;
	width: 320px;
	height: 320px;
	background: url(../images/boom2.png);
	background-repeat: no-repeat;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.boom:hover {
	position: absolute;
	width: 330px;
	height: 330px;
	background: url(../images/boom1.png);
	background-repeat: no-repeat;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;	
}
/*戳气球小游戏首页图 end*/

/*游戏1-戳气球 end*/
.game2 {
	width:333px;
	height:333px;
	position:absolute;
	background:;
	left:333px;
	top:111px;
	border-style:solid;
	border-width:1px;
}
.game3 {
	width:333px;
	height:333px;
	position:absolute;
	background:;
	left:667px;
	top:111px;
	border-width:1px;
	border-style:solid;
}
.game4 {
	width:333px;
	height:333px;
	position:absolute;
	background:;
	left:0;
	top:444px;
	border-width:1px;
	border-style:solid;
}
.game5 {
	width:333px;
	height:333px;
	position:absolute;
	background:;
	left:333px;
	top:444px;
	border-style:solid;
	border-width:1px;
}
.game6 {
	width:333px;
	height:333px;
	position:absolute;
	background:;
	left:667px;
	top:444px;
	border-width:1px;
	border-style:solid;
}
.game7 {
	width:333px;
	height:333px;
	position:absolute;
	background:;
	left:0;
	top:777px;
	border-width:1px;
	border-style:solid;
}
.game8 {
	width:333px;
	height:333px;
	position:absolute;
	background:;
	left:333px;
	top:777px;
	border-width:1px;
	border-style:solid;
}
.game9 {
	width:333px;
	height:333px;
	position:absolute;
	background:;
	left:667px;
	top:777px;
	border-width:1px;
	border-style:solid;
}



/*游戏启动按钮 begin*/
.getGame {
	position: absolute;
	width: 100px;
	background: ;
	height: 30px;
	margin: auto;
	top: 250px;
	left: 0;
	right: 0;
	text-align: center;
}

.getGame:hover {
	position: absolute;
	width: 110px;
	background: ;
	height: 35px;
	margin: auto;
	top: 250px;
	left: 0;
	right: 0;
	text-align: center;
}
.getGame input {
	width: 100px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	opacity: 0.5;
}
.getGame input:hover {
	width: 110px;
	height: 35px;
	line-height: 35px;
	font-size: 22px;
	opacity: 1;
}
/*游戏启动按钮 end*/

/*没开放的游戏 begin*/
.openGame {
	position: absolute;
	width: 320px;
	height: 320px;
	background: url(../images/open2.png);
	background-repeat: no-repeat;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
/*hover 是CSS 起到切换的作用，用于图片或颜色或寸等*/
.openGame:hover {  
	position: absolute;
	width: 330px;
	height: 330px;
	background: url(../images/open1.png);
	background-repeat: no-repeat;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;	
}
/*没开放的游戏 end*/